* {
	font-family: 'PT Sans Narrow', sans-serif;
	  font-weight: lighter;
	  text-align: center;
}

.container {
	width: 700px;
	margin: auto;
	margin-top: 70px;
}

h1 {
	color: #3B0B0B;
	font-size: 46px;
	width: 100%;
	text-align: center;
	border-bottom: solid 1px #3B0B0B;
	padding-bottom: 15px;
}

.controllers {
	width: 400px;
	margin: auto;
	margin-top: 30px;

}

.button {
	float: left;
	width: 50px;
	height: 50px;
	background-color: #BDBDBD;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	cursor: pointer;
}

.button:hover {
	border: solid 2px #3B0B0B;
	margin-left: -2px;
	margin-top: -2px;
	margin-bottom: -2px;
}

.button:active {
-webkit-box-shadow: inset 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    inset 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
box-shadow:         inset 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
}


.triangle {
	width: 0;
height: 0;
border-style: solid;
border-width: 10px 0 10px 20px;
border-color: transparent transparent transparent #6E6E6E;

position: relative;
left: 16px;
top: 15px;
}



.description {
	padding-top: 15px;
	text-align: left;
	margin-left: 80px;
}

span {
	color: #3B0B0B;
	font-weight: bold;
}

.download {
	margin: auto;
	padding: 10px;
	background-color: #3B0B0B;
	color: white;
	text-align: center;
	margin-top: 30px;
	display: inline-block;
	padding-left: 25px;
	padding-right: 25px;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	cursor: pointer;
	border: solid 1px #3B0B0B;
}

.download:hover {
	background-color: #8A0808;

}

.download:active {
	-webkit-box-shadow: inset 0px 15px 3px 0px rgba(50, 50, 50, 0.95);
-moz-box-shadow:    inset 0px 0px 15px 0px rgba(50, 50, 50, 0.95);
box-shadow:         inset 0px 0px 15px 0px rgba(50, 50, 50, 0.95);
}

a {
	color: #3B0B0B;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}